.related-recipes-image {
  height: 150px;
  width: 100%;
}

.recipe-title {
  color: black;
  color: black;
  height: 35px;
  font-size: 1em;
}

#inputFid {
  width: 50%;
  display: inline;
}

.switch-fridge-button {
  margin-bottom: 3px;
  padding-left: 5px;
}

.fridge-container {
  position: relative;
  height: 700px;
  width: 100%; /* 450px */
  border: none;
  margin: 0 auto;
  border-radius: .285716rem;
}

.frozen {
  position: absolute;
  border-radius: .28571429rem;
  background-color: #bad5dd;
  height: 200px;
  width: 100%;
  border: none;
  bottom: 500px;
  background-image: url("https://image.flaticon.com/icons/svg/251/251942.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
  text-align: center; 
}

.protein {
  position: absolute;
  border-radius: .28571429rem;
  background-color: #FC7E7E;
  height: 145px;
  width: 48.889%;
  border: none;
  bottom: 345px;
  left: 0px;
  background-image: url("https://image.flaticon.com/icons/svg/579/579121.svg");
  background-repeat: no-repeat;
  background-position: bottom 20px right 50%;
  background-size: 75px;
  text-align: center; 
}

.grains {
  position: absolute;
  border-radius: .28571429rem;
  background-color: #F2CC7B;
  height: 145px;
  width: 48.889%;
  border: none;
  bottom: 345px;
  right: 0px;
  background-image: url('https://image.flaticon.com/icons/svg/135/135634.svg');
  background-repeat: no-repeat;
  background-position: bottom 20px right 50%;
  background-size: 75px;
  text-align: center; 
}

.dairy {
  position: absolute;
  border-radius: .28571429rem;
  background-color: #A5C6EF;
  height: 125px;
  width: 100%;
  border: none;
  bottom: 210px;
  background-image: url('https://image.flaticon.com/icons/svg/571/571475.svg');
  background-repeat: no-repeat;
  background-position: bottom 10px right 50%;
  background-size: 75px;
  text-align: center; 
}

.produce {
  position: absolute;
  border-radius: .28571429rem;
  background-color: #A2D8C0;
  height: 200px;
  width: 64.444%;
  border: none;
  bottom: 0px;
  left: 0px;
  background-image: url('https://image.flaticon.com/icons/svg/135/135715.svg');
  background-repeat: no-repeat;
  background-position: bottom 50px right 50%;
  background-size: 75px;
  text-align: center; 
}

.misc {
  position: absolute;
  text-align:center;
  border-radius: .28571429rem;
  background-color: #e5a5c2;
  height: 200px;
  width: 33.333%;
  border: none;
  bottom: 0px;
  right: 0px;
  background-image: url('https://image.flaticon.com/icons/svg/362/362281.svg');
  background-repeat: no-repeat;
  background-position: bottom 50px right 50%;
  background-size: 75px;
  text-align: center; 
}

.text {
  position: relative;
  top: 10px;
  font-size: 150%;
  color: white
}

.navbar {
  background-color: #2185d0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.nav-link:hover, .nav-link:visited {
  background-color: #1f78bb;
  color: rgb(255, 255, 255)!important;
  border-radius: 4px;
}

.tiny-image {
  width: 450px;
  height: auto;
}

.carousel-caption {
  padding-bottom: 20%;
  color: white;
}

.main-landing-image {
  margin: 0 auto;
  width: 80%!important;
}

  .carousel-caption h1 {
    font-size: 4em;
  }
  .carousel-caption h2 {
    font-size: 3em;
  }

@media (max-width: 768px) {
  .carousel-caption {
    padding-bottom: 0px;
    color: white;
  }
  .carousel-caption h1 {
    font-size: 3em;
    display: none;
  }
  .carousel-caption h2 {
    font-size: 2em;
  }
  .mini-fridge-pic {
    display: none;
  }
  .col-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  } 
}

.main-content {
  margin-top: 30px!important;
}

.padding-30 {
  margin-top: 30px!important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer{
  background-color: #1b1c1d;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
}

.footer > h3, .footer h6 {
  color: white;
}

.sign-in-box {
  text-align: center;
  padding-top: 200px;
}

.sign-in-box h2 {
  color: #28a746;
  background-color: #e6e6ff;
}

.login-button {
  margin-top: 20px;
}

.sign-up-box {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* form input */
.inner-addon {
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #928e96;
}

.left-addon .fa  { 
  left:  0px;
}
.right-addon .fa { 
  right: 0px;
}

.left-addon input  { 
  padding-left:  30px; 
}
.right-addon input { 
  padding-right: 30px; 
}

.login-container {
  background-color: #e6e6ff;
}

.purple-background {
  position: fixed;
  width: 100%;
  background-color: #e6e6ff;
  height: 100%;
}
.share-widget-list {
  padding-left: 0px!important;
}

.share-widget-list li {
  display: inline-block!important;
  padding-left: 5px;
};